table, th, td{
    border: 1px solid black;
    /*border-collapse: collapse;*/
}
table {
    border-spacing: 5px;
  }

th{
    background-color: gray;
    color: honeydew;
}

th, td{
    padding: 5px;
   
}   
td{
    text-align: right;
}
#table02 th{
    background-color:rgb(57, 23, 211);
}
#table02 tr:nth-child(even){
    color: royalblue;
}