.cars{
    background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
.truck{
    text-align: center;
}
.motor{
    background-color: rgb(158, 225, 245);
  color: white;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
td,th{
    border: 1px solid #0f0f0f;
    text-align: center;
    padding: 8px;
}
#carscolor{
    font-family: Arial, Helvetica, sans-serif;
    color: red;

}